@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 7vw;  
}

a, button, input {
    background-color: white;
    color: black;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 50px;
    text-decoration: none;
    border: none;
}

a:hover, button:hover {
    cursor: pointer;
}

