main{
    height: 100%;
}

p{    
    top: 30%;
    width: 37%;
    word-wrap: break-word;
}

button {
    position: absolute;    
    bottom: 25%;
    cursor: pointer;
}

audio {
    margin-top: 20px;
}

#control {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

#control.recording {
    border-radius: 10px;
}

#control.finished {
    background: none;
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: space-between;
}