main{
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
}

input, button{    
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
}

input {
    color: white;  
    font-size: 2.5vw;
    text-decoration: none;
    border-bottom: 6px solid transparent;
    text-align: center;
}


button{
    position: absolute;    
    bottom: 15%;
    cursor: pointer;
}

p{
    top: 25%;
}